<template>
  <div class='basket'>
    <div class="title-basket" v-if="inBasket.reduce(((acc, item) => acc + (item.summaryCounted / item.price)), 0) > 0">
      <span>Image</span>
      <span>Title</span>
      <span>Pcs.</span>
      <span>Summary</span>
      <div></div>
    </div>
    <div class="empty" v-if="!purchased && inBasket.reduce(((acc, item) => acc + (item.summaryCounted / item.price)), 0) == 0">
      You haven't added something to basket yet!
    </div>
    <Cardbasket v-for='(card, index) in cards'
     :key="card.img"
     :img="card.img"
     :price="card.price"
     :summary="card.summaryCounted"
     :index="index"
     @closing="closing($event)"
     />
     <div v-if="inBasket.reduce(((acc, item) => acc + (item.summaryCounted / item.price)), 0) > 0" class="title-basket below">
      <span></span>
      <span>Total</span>
      <span>&times; {{ inBasket.reduce(((acc, item) => acc + (item.summaryCounted / item.price)), 0)  }} pcs.</span>
      <span>{{ inBasket.reduce(((acc, item) => acc + item.summaryCounted), 0) }} smth's</span>
      <i class="fas fa-cart-plus" @click="purchase"></i>
    </div>
    <div class="purchased" v-if="purchased">SUCCESSFULLY PURCHASED!</div>
    </div>
</template>


<script>
import Cardbasket from '@/components/Cardbasket.vue'



export default {
  components: {
    Cardbasket
  },


  data() {
      return {
          purchased: false
      }
  },


  computed: {
    cards() {
      return this.$store.state.cards
    },
    inBasket() {
      return this.$store.getters.inBasket
    }
  },

  methods: {
    purchase() {
    this.$store.commit('purchase');
    this.purchased = true;
    },
    closing(index) {
      this.$store.commit('closing', index)
    }
  }
}
</script>


<style lang='scss' scoped>

  .basket {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .title-basket {
    display: grid;
    grid-template-columns: 80px 1fr 15% 25% 10%;
    word-break: break-all;
    height: 50px;
    margin: 1rem 0 0;

    * {
      display: grid;
      justify-items: center;
      align-items: center;
      text-align: center;
      padding: .2rem;
      width: 100%;
      height: 100%;
      border-left: 2px solid rgba(18, 191, 139, 1);
      border-top: 2px solid rgba(18, 191, 139, 1);
      border-bottom: 2px solid rgba(18, 191, 139, 1);
    }

    div {
      border-right: 2px solid rgba(18, 191, 139, 1);
    }

    i {
      border-right: 2px solid rgba(18, 191, 139, 1);
      color: rgba(18, 191, 139, 1);
      cursor: pointer;

      &::before {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .2s;
      }

      &:hover::before {
        transition: .2s;
        transform: scale(1.6);
      }
    }
  }

  .below {
    margin-top: 0;
    background-color: lighten(rgba(18, 191, 139, 1), 50%);

    * {
    border-top: none;
    }
  }

  .purchased {
    width: 100%;
    margin: 2rem auto;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgba(18, 191, 139, 1);
    color: white;
  }

  .empty {
    @extend .purchased;
    background-color: lighten(red, 5%);
  }

</style>
