<template>
  <div class="home">
  <Card v-for='(card, index) in cards'
  :key='card.img'
  :index='index'
  :image='card.img'
  :text='card.text'
  :price='card.price'
  @incr="incr($event)"
  @decr="decr($event)"
  @summaryToBasket="summ($event)"
  />
  </div>
</template>

<script>
import Card from '@/components/Card.vue'
import { mapState } from 'vuex'

export default {
  name: 'Home',
  components: {
    Card
  },

  methods: {
    incr(index) {
      this.$store.commit('increment', index);
    },
    decr(index) {
      this.$store.commit('decrement', index);
    },
    summ(event) {
      this.$store.commit('summary', event);
    }
  },

  computed: mapState([
    'cards'
  ])

}
</script>

<style lang="scss" scoped>

  .home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    margin: 1rem;
  }

</style>
