<template>
  <div v-if="summary > 0" class="card-basket">
     <div><img :src='"@/assets/" + img + ".jpg"' :alt="img"></div>
     <div> {{ img.toUpperCase() }} </div>
     <div> &times; {{ summary / price }} pcs. </div>
     <div> {{ summary }} smth's </div>
     <i class="far fa-window-close close" @click="$emit('closing', index)"></i>
   </div>
</template>


<script>
export default {
  name: 'Cardbasket',

  props: ['img', 'price', 'summary', 'index'],
}
</script>


<style lang='scss'>

  .card-basket {
    display: grid;
    grid-template-columns: 80px 1fr 15% 25% 10%;
    height: 80px;
    word-break: break-all;

    .close {
      cursor: pointer;

      &::before {
      cursor: pointer;
      transition: .4s;
      transform: scale(1.4);
      }

      &:hover::before {
      transition: .4s;
      transform: scale(1.4) rotate(-180deg);
      }
    }

    img {
      border: 2px solid rgba(18, 191, 139, 1);
      border-radius: 50%;
      object-fit: cover;
    }

    * {
      display: grid;
      justify-items: center;
      align-items: center;
      text-align: center;
      padding: .2rem;
      width: 100%;
      height: 100%;
      border-left: 2px solid rgba(18, 191, 139, 1);
      border-bottom: 2px solid rgba(18, 191, 139, 1);
      word-wrap: break-word;
    }

    i, .delete {
      border-right: 2px solid rgba(18, 191, 139, 1);
      color: darken(rgba(18, 191, 139, 1), 10%);
    }
  }

</style>
