<template>
  <div class='card'>
    <h3>{{ image.toUpperCase() }}</h3>
    <img :src='"@/assets/" + image + ".jpg"' :alt="image">
    <p>{{ text }}</p>
    <div class='counter'>
    <div>
     <input type='number'
     class='counter-output'
     v-model="counting[index].counting"
     @keyup.189='counting[index].counting = 0'
     @keyup.109='counting[index].counting = 0'
     @keyup.173='counting[index].counting = 0'
     min="0"
     >
     <button class="plusminus" @click="$emit('decr', index)"
     :disabled="counting[index].counting == 0"
     >-</button>
     <button class="plusminus" @click="$emit('incr', index)">+</button>
    </div>
    <div class="values">
      <span>Price: {{ price }} somethings </span>
      <span
      v-if='summary < 1'
      > Summary: {{ summary }} something</span>
      <span v-else-if='summary < 9999'>Summary: {{ summary }} somethings </span>
      <span v-else=''>Summary: 9999 is MAX </span>
    </div>
    <button class="tobasket" @click="$emit('summaryToBasket', {index, summary})" :disabled="counting[index].counting <= 0 || counting[index].counting > 9999"><i class="fas fa-cart-plus"></i></button>
    </div>
    </div>
</template>

<script>
export default {
  name: 'Card',

  props: {
      image: {
          type: String,
      },
      text: {
          type: String,
      },
      index: {
          type: Number,
      },
      price: {
          type: Number,
      },
  },

  computed: {
    counting() {
      return this.$store.state.cards
    },

    indexForSummary() {
      return this.index
    },

    summary() {
      return this.counting[this.indexForSummary].counting * this.counting[this.indexForSummary].price
    },
  }

}
</script>


<style lang='scss' scoped>

  h3 {
    color: white;
    margin: 1rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 10px rgba(26, 173, 129, 1);
    margin: 1rem auto;
    border-radius: 10px;
    background-color: #2ADFAA;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border: 2px solid rgba(18, 191, 139, 1);
    }

    p {
      padding: 2rem;
      color: rgba(224, 250, 242, 1);
      text-align: center;
    }
  }

  .counter {
    display: flex;
    padding: 0 2rem 2rem;
    flex-direction: column;
    align-items: center;
    width: 80%;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-output {
    background-color: #fff;
    padding: .2rem;
    border: solid .5px rgba(20, 210, 153, 1);
    outline: none;
    width: 30%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
}

  .plusminus {
    display: inline-block;
    padding: .2rem .7rem;
    outline-style: none;
    border: solid .5px rgba(20, 210, 153, 1);
    margin: .2rem;
    background-color: rgba(162, 246, 221, 1);

    &:hover{
      background-color: rgba(12, 146, 106, 1);
      cursor: pointer;
      color: white;
    }

    &:active {
      transform: scale(0.95);
    }

    &:disabled {
      cursor: default;
      color: rgba(18, 191, 139, .5);
      background-color: lighten(rgba(162, 246, 221, .5), 20%);
    }
  }

  .values {
    display: flex;
    color: white;
    flex-direction: column;
    margin-top: .5rem;
  }

  .tobasket {
    @extend .plusminus;
    padding: .4rem;
    width: 100%;
    color: rgba(18, 191, 139, 1);
    margin-top: 1rem;
    }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

</style>
