<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link>
      <router-link to="/basket" class="basket-logo"><i class="fas fa-shopping-basket"><span v-if="inBasket.length > 0">{{ inBasket.reduce(((acc, item) => acc + (item.summaryCounted / item.price)), 0) }}</span></i></router-link>
    </div>
    <div class="title">
    Example Site with basket on VUE!
    </div>
    <transition :name="animationName">
      <router-view/>
    </transition>
  </div>
</template>

<script>
export default {

  computed: {
    inBasket() {
      return this.$store.getters.inBasket
    },
    animationName() {
      return this.$store.state.animationName
    }
  },

  watch: {
      $route(to) {
        const toDepth = to.name.split(',');
        if(toDepth.indexOf('Home') !== -1) {
          this.$store.commit('animationDependsOnPath', 'homeanimation')
        } else {
          this.$store.commit('animationDependsOnPath', 'elseanimation')
        }
      }
    }
}
</script>

<style lang="scss">

  .homeanimation {

    &-enter-to, &-leave {
      opacity: 1;
    }

    &-enter, &-leave-to {
        transform: translateY(1000%);
    }

    &-enter-active, &-leave-active {
      transition: .4s ease-in;
    }
  }



  .elseanimation {

    &-enter-to, &-leave {
      opacity: 1;
    }

    &-enter, &-leave-to {
      transform: translateY(100%);
    }

    &-enter-active, &-leave-active {
      transition: .4s;
    }
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: 'Roboto', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100vw;
    position: relative;
  }

  #nav {
    display: flex;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    justify-content: center;
    width: 100%;
    margin: 1rem auto 1rem;

    a {
    color: inherit;
    text-decoration: none;
    padding: 1rem 4rem;

      &:hover {
        background-color: #2ADFAA;
        color: #EFF!important;

        span {
          color: white;
        }
      }

      &:visited {
        color: inherit;
      }

      &.router-link-exact-active {

      }
    }
  }

  .title {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    background-color: #2ADFAA;
    color: #EFF;
    font-weight: bold;
    font-size: 2.5rem;
  }

  .basket-logo {
    position: relative;

    span {
      position: absolute;
      bottom: 5px;
      color: lighten(red, 5%);
      font-family: 'Roboto', sans-serif;
    }
}
</style>
